@use "../vars" as v;
@use "~/assets/css/mixins/text" as t;

@mixin defaultInput {
  input {
    border: 1px solid transparent;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

@mixin whiteInput() {
  input {
    padding: 1rem 2rem;
    color: v.$black;
    width: inherit;
    @include t.h6;
    font-family: "Gilroy", sans-serif;
    font-weight: 500;
    border-radius: 0.25rem;
    &::placeholder {
      color: v.$input-placeholder;
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }

    @media screen and (max-width: 980px) {
      padding: 1.15rem 1.5rem;
    }
  }
}

@mixin radioWithText() {
  position: relative;

  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;

    &:checked + span {
      color: v.$yellow;
      border: 1px solid v.$yellow;
    }
  }

  span {
    @include t.body-16;
    padding: 0.75rem 1.5rem;
    color: v.$purple-opacity;
    border: 1px solid v.$purple-opacity;
    border-radius: 3.75rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease-out;
  }

  &:hover {
    span {
      color: v.$white;
      border: 1px solid v.$white;
    }
  }
}

@mixin greyInput() {
  input {
    padding: 1rem 0.6875rem;
    background: v.$grey-10;
    width: 100%;
    color: v.$black; // v.$grey-7;
    border-radius: 4px;
    font-weight: 500;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    &::placeholder {
      color: v.$input-placeholder;
      opacity: 1;
      transition: opacity 0.2s ease-out;
    }

    &:focus {
      &::placeholder {
        opacity: 0;
      }
    }
  }
}

@mixin purpleInput() {
  input {
    border-radius: 0;
    background-color: v.$purple-input;
    color: v.$white;
    font-size: 1.0625rem;
    line-height: 1.875rem;
    font-weight: 600;
    font-family: "Gilroy";
    padding: 0.625rem 0.5625rem;
    border: 4px solid transparent;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      /* display: none; <- Crashes Chrome on hover */
      -webkit-appearance: none;
      margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    &::placeholder {
      color: v.$grey-11;
    }

    &:focus {
      &::placeholder {
        opacity: 1;
      }

      border: 4px solid v.$yellow;
    }
  }
}

@mixin blueInput {
  input {
    background: transparent;
    border: 1px solid v.$blue-8;
    border-radius: 5px;
    text-transform: uppercase;
    color: v.$white;
    width: 100%;
    font-size: 1.125rem;
    padding: 0.625rem 1rem;
    outline: none;
    font-weight: 600;
    font-family: "Gilroy";

    &::placeholder {
      color: v.$blue-8;
    }
  }
}

@mixin inputWhite {
  input,
  textarea {
    width: 100%;
    height: 3.13rem;
    padding: 0.94rem;
    border-radius: 5px;
    border: 1px solid v.$grey-16;
    font: 500 1rem/1.5rem Gilroy;
    background-color: v.$white;
    outline: none;

    @media screen and (max-width: 980px) {
      height: 2.5rem;
    }

    &::placeholder {
      color: rgba(0, 0, 0, 0.3);
    }

    &:focus {
      border: 1px solid v.$blue;
    }

    &:focus-visible {
      border: 1px solid v.$blue;
    }
  }
}
